
  .navbar-brand {
    cursor: pointer
  }
  
  #CourseList {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  #LogOut:hover{
    cursor: pointer;
    color: white;
    }

  .logo{
    cursor: pointer
  }